<% provide(:title, 'About') %>
<h1>About</h1>
<%= image_tag("about.jpg") %>
<p>
	Signing up and using skalefree.net is incredibly easy and hassle free.<br>  
	<b>Check out the <%= link_to "Help", help_path %> section for more information.</b>
</p>