<% provide(:title, 'About') %>
<h1>About</h1>
<p>
	Skalefree.net is a social networking tool designed to connect people in the most efficient and effective manner. 
	<br><br>
	We live our lives surrounded by people, and yet, we only interact with a tiny portion of them. Here at skalefree, we strive to help people find those they need in their lives. Whether you're simply looking to sell a textbook, join a group for a class project, or even find a new friend that shares your interests, Skalefree provides the tools you need to meet your goals!
	<br><br>
	<b>Skalefree connects people using two services: Wallposts and Findposts.<br>
		<%= link_to "Wallposts", wallpost_help_path %> helps students share their thoughts with different SFU communities.<br>
		<%= link_to "Findposts", findpost_help_path %> helps students find people for a specific purpose.</b>
</p>