<% provide(:title, 'About') %>
<h1>About</h1>
<p>
	Skalefree.net is a social discovery tool designed to connect people in an effective manner. 
	<br><br>
	We live our lives surrounded by people, and yet, we only interact with a tiny portion of them. Here at skalefree, we strive to help people find those they need in their lives. Whether you're simply looking to sell a textbook, chat with people in your classes, or even find a new friend that shares your interests, Skalefree provides the tools you need to meet your goals!
</p>