<% provide(:title, 'About') %>
<h1>About</h1>
<%= image_tag("about.jpg") %>
<p><br><br>
	<b>Skalefree connects people using two services: Findposts and the Forum.<br>
		<%= link_to "Findposts", help_path %> help students find people for a specific purpose.<br>
		The <%= link_to "Forum", forum_help_path %> helps students share their thoughts with different SFU communities.</b><br>
</p>