<% provide(:title, 'About') %>
<h1>About</h1>
<p>
	Skalefree.net is a social networking tool designed to connect people in the most efficient and effective manner. 
	<br><br>
	We live our lives surrounded by people, and yet, we only interact with a tiny portion of them. In a world where opportunities are tied to the people you know, it is important to recognize that meeting the right people can significantly improve your life. Here at skalefree, we strive to help people find those they need in their lives. Whether you're simply looking to sell a textbook, join a group for a class project, or even find a new friend that shares your interests, skalefree will provides the tools you need to meet your goals!
	<br><br>
	<b>Check out the <%= link_to "Help", help_path %> section for more information.</b>
</p>