<% provide(:title, 'About') %>
<h1>About</h1>
<p>
	Skalefree.net is a social networking tool designed to connect people in the most efficient and effective manner. 
	<br><br>
	We live our lives surrounded by people, and yet, we only interact with a tiny portion of them. In a world where opportunities are tied to the people you know, it is important to recognize that meeting the right people can significantly improve your life. Here at skalefree, we strive to help people find those they need in their lives. Whether you're simply looking to sell a textbook, join a group for a class project, or even find a new best friend that shares your interests, skalefree will provide you with the tools to meet your goals!
	<br><br>
	Signing up and using skalefree.net is incredibly easy and hassle free.<br>  
	<b>Check out the <%= link_to "Help", help_path %> section for how to use skalefree to create new opportunities.</b>
</p><br>
<p>
	<h3>$Contest$</h3>
	The five people with the highest reputation and legitimate findposts will win Bestbuy giftcards worth:<br><br>

	1. $80<br>
	2. $50<br>
	3. $30<br>
	4. $20<br>
	5. $10<br><br>

	Contest ends at the end of the fall 2013 semester.  
</p>