<% provide(:title, 'Create') %>
<div data-role="content">
	<div data-role="collapsible">
		<h3>Create</h3>
    <%= render 'shared/findpost_form' %>
	</div>
	<% if @user.findposts.any? %>
    <h3>Findposts (<%= @user.findposts.count %>)</h3>
    <ul data-role="listview">
      <%= render @findposts %>
      <%= paginate @findposts, :theme => 'twitter-bootstrap' %>
    </ul>
  <% end %>
</div>
