<% provide(:title, 'Create') %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/findpost_form' %>
    </section>
    <p>
      <b>Suggested Criteria:</b><br>
      1. Purpose <br>
      2. Location <br>
      3. Time <br>
      4. Goal <br>
      5. Interests <br>
      6. Condition <br>
      8. Qualification <br>
      9. Personality <br>
      10. Additional Information <br><br>
    </p>
  </aside>
  <div class="span8">
    <% if @user.findposts.any? %>
      <h3 class="f_title">Create Findposts</h3>
      <ol class="findposts">
        <%= render @findposts %>
        <%= paginate @findposts %>
      </ol>
    <% end %>
  </div>
</div>
