<% provide(:title, 'Findpost Help') %>
<h1>Findpost Help</h1>
<%= image_tag("help.jpg") %>

<br><br>

<%= image_tag("examples.jpg") %>

<p>
	<br>
	<b>How to sell and buy a textbook</b><br><br>
		
	<iframe width="420" height="315" src="//www.youtube.com/embed/ErVSDrwYf6E" frameborder="0" allowfullscreen></iframe><br><br>
</p>

<p><b>If you want to connect with a general audience, use <%= link_to "Wallposts", wallpost_help_path %>!</b></p>