<% provide(:title, 'Forum Help') %>
<h1>Forum Help</h1>
<%= image_tag("wallhelp.jpg") %>

<br><br>

<p><b>If you're looking to find someone specific, use <%= link_to "Findposts", help_path %>!</b></p>