<% provide(:title, 'Help') %>
<h1>Help</h1>

<p>
	<b>What is a findpost?</b><br>

	A findpost is a listing of searchable criteria that others use to find you.<br><br>
</p>

<p>
	<b>Getting started with Skalefree requires a few simple steps:</b><br>

	1. Signup or login to skalefree.net. Choose a name that is not your real name. Skalefree is used anonymously to protect your privacy. <br>
	2. Click the "Create" link to create a findpost with criteria describing the person or thing you're looking for.<br>
	3. Click the "Search" link to search through the criteria of existing findposts.<br>
	4. Check a findpost owner's profile and reputation to evaluate connection potential.<br>
	5. Start a conversation with the findpost owner. Notifications will be delivered to your email. Check your spambox if you don't see them.<br>
	6. Strike a deal.<br>
	7. Improve that user's reputation if you are satisfied, otherwise lower it.<br>
	8. Delete your findpost once you're done with it.<br><br>
</p>

<p>
	<b>Examples of the different ways you can use findposts:</b><br><br>

	<b>How to sell and buy a textbook.<br><br></b>
		<iframe width="420" height="315" src="//www.youtube.com/embed/KHORpmBaM8o" frameborder="0" allowfullscreen></iframe><br><br>

	<b>How to find a lunch buddy.<br><br></b>

	<iframe width="420" height="315" src="//www.youtube.com/embed/_EYEEzK7Nck" frameborder="0" allowfullscreen></iframe><br><br>

	<b>How to find groupmates for a class project and friends in a class.<br><br></b>

	<iframe width="420" height="315" src="//www.youtube.com/embed/H7q5Qy-27AU" frameborder="0" allowfullscreen></iframe><br><br>

</p>

<p>
	<b>Suggested Criteria:</b><br>
	1. Purpose - The reason you want to meet this person.<br>
	2. Location - Where you want this person to be located.<br>
	3. Time - When do you want this person available.<br>
	4. Goal - What objective would you like to meet.<br>
	5. Interests - What interests do you want to connect on.<br>
	6. Condition - What conditions should be met.<br>
	8. Qualification - What do you have to offer.<br>
	9. Personality - What is your personality like.<br>
	10. Additional Information - Anything else that's relevant.<br><br>
</p>