<% provide(:title, 'Help') %>
<h1>Help</h1>

<p>
	<b>What is a findpost?</b><br>

	A findpost is a listing of searchable criteria that others use to find you.
	<br>
</p>

<p>
	<b>Suggested Criteria:</b><br>
	1. Purpose<br>
	2. Location<br>
	3. Time<br>
	4. Goal<br>
	5. Interests<br>
	6. Condition<br>
	8. Qualification<br>
	9. Personality<br>
	10. Additional Information<br>
</p>

<p>
	<b>Getting started with Skalefree requires a few simple steps:</b><br>

	1. Signup or login to skalefree.net. Choose a name that is not your real name. Skalefree is used anonymously to protect your privacy. <br>
	2. Click the "Create" link to create a findpost with criteria describing the person or thing you're looking for.<br>
	3. Click the "Search" link to search through the criteria of existing findposts.<br>
	4. Check a findpost owner's profile and reputation to evaluate connection potential.<br>
	5. Start a conversation with the findpost owner. Notifications will be delivered to your email. Check your spambox if you don't see them.<br>
	6. Strike a deal.<br>
	7. Improve that user's reputation if you are satisfied, otherwise lower it.<br>
	8. Delete your findpost once you're done with it.<br><br>
</p>


