<% provide(:title, 'Help') %>
<h1>Help</h1>

<p><b>What's the difference between findposts and wallposts?</b><br>

	Findposts allow you to find people for a specific purpose. Wallposts allow you to create discussions for any situation.
</p>

<p>
	<b>What's a findpost?</b><br>

	A findpost is a listing of searchable criteria that others use to find you.
	<br>
</p>

<p>
	<b>Getting started with findposts requires a few simple steps:</b><br>

	1. Create a findpost.<br>
	2. This findpost is now searchable by others.
</p>

<p><b>What's a wallpost?</b><br>

	A wallpost is a special post that contains a wall topic and content. Wallposts with the same topic are linked together to create a discussion. You can chat with people in your class using wallposts!
</p>

<p>
	<b>Getting started with wallposts requires a few simple steps:</b><br>

	1. Create or find a wall.<br>
	2. Write a post.<br>
	3. This wallpost is now a forum that is searchable by others.
</p>

<p>
	<b>Suggested criteria for findposts:</b><br>
	1. Purpose<br>
	2. Location<br>
	3. Time<br>
	4. Goal<br>
	5. Interests<br>
	6. Condition<br>
	8. Qualification<br>
	9. Personality<br>
	10. Additional Information<br>
</p>


