<% provide(:title, 'Help') %>
<h1>Help</h1>

<p><b>What's the difference between findposts and the forums?</b><br>

	Findposts allow you to find people for a specific purpose. The forum allows you to create discussions about any topic.
</p>

<p>
	<b>What's a findpost?</b><br>

	A findpost is a listing of searchable criteria that others use to find you.
	<br>
</p>

<p>
	<b>Getting started with findposts requires a few simple steps:</b><br>

	1. Create a findpost with criteria of what you want others to find.<br>
	2. This findpost is now searchable by others.
</p>

<p><b>What's the forum?</b><br>

	A forumpost is a special post that contains a topic and content. A search engine links posts with the same topic together creating a forum. Connect with people in your class in real time using the forum!
</p>

<p>
	<b>Suggested criteria for findposts:</b><br>
	1. Purpose<br>
	2. Location<br>
	3. Time<br>
	4. Goal<br>
	5. Interests<br>
	6. Condition<br>
	8. Qualification<br>
	9. Personality<br>
	10. Additional Information<br>
</p>


