<% provide(:title, 'Help') %>
<h1 class="cfont">Help</h1>
<div class="spages">
	<br>
	<%= image_tag("help.jpg") %>
	<br>
	<br>
	<p><b>If you want to connect with a general audience, use <%= link_to "Wallposts", wall_help_path %>!</b></p>
</div>