<% provide(:title, 'Help') %>
<h1>Help</h1>

<p>
	<b>What is a findpost?</b><br>

	A findpost is a listing of searchable criteria that others use to find you.
	<br>
</p>

<p>
	<b>Getting started with Skalefree requires a few simple steps:</b><br>

	1. Create a findpost with criteria of what you want others to find.
	2. This findpost is now searchable by others.
</p>

<p>
	<b>Suggested Criteria:</b><br>
	1. Purpose<br>
	2. Location<br>
	3. Time<br>
	4. Goal<br>
	5. Interests<br>
	6. Condition<br>
	8. Qualification<br>
	9. Personality<br>
	10. Additional Information<br>
</p>


