<h1>Welcome to Skalefree @ SFU!</h1>
<br>
<h3>Skalefree is a social discovery website designed to connect students in the most effective manner.</h3>
<br>
<h3>Kick back, take a look around, <%= link_to "meet some people", findyou_path %>, or <%= link_to "share some thoughts on our wall", wall_path %>.</h3>
<br>
<h3>Visit our <%= link_to "about", about_path %> page for more information.</h3>