<% provide(:title, 'Wallposts') %>
<div data-role="content">
  <div data-role="collapsible">
    <h3>Categories</h3>
    Confessions<br>
    Funny<br>
    Did You Know<br>
    Games<br>
    News<br>
    Academic<br>
    Social<br>
    SFU<br>
    Sport<br>
    Intellectual<br>
    Entertainment<br>
    WTF<br>
    Music<br>
    Club<br>
    Skalefree<br>
  </div>
  <%= render 'shared/wall_form' %>
  <h3>You have selected the wall: <span id="wall_selection"></span></h3>
  <% if signed_in? %> 
    <%= render 'shared/forumpost_form' %>
  <% end %><br>
  <h3>Wallposts</h3>
  <% if @wall.any? %>
    <ul data-role="listview", class="wall_mobile", id="mobile_refresh">
      <%= render @wall %>
    </ul>
  <% else %>
    <br><br>
    <h3>Sorry, your search has 0 results.</h3>
  <% end %>
  <div id="paginatorm">
    <%= paginate @wall, :remote => true %>
  </div>
</div>