<br>
<h1 class="cfont"> Welcome to the SFU community! </h1>
<br>
<div>

<div class="homepic">
<%= image_tag("sfu.jpg") %>
</div>
<br>
<br>
<br>
<h4 class="home">Skalefree is a social discovery website designed to connect students in an effective manner.</h4>
<br>
<h4 class="home">Kick back, take a look around, <%= link_to "meet some people", findyou_path %>, or <%= link_to "share some thoughts on our wall", wall_path %>.</h4>
<br>
<h4 class="home">Visit our <%= link_to "about", about_path %> page for more information.</h4>
<br>
<br>
<br>
<br>
<span class="cfont">
	<b>Did you know:</b> A "Scale-free network" is a network whose degree distribution follows a power law.  Many networks in nature are thought to be scale-free in structure including biological networks, the internet, and social networks.
</span>
<br>