<h1>Welcome to Skalefree @ SFU!</h1>
<h3>Skalefree is a social discovery website designed to connect SFU students.</h3>

<h3><%= link_to "Find people", findyou_path %> or <%= link_to "share thoughts", wall_path %>.</h3>

<h3>It's free to use.  <%= link_to "Sign up today!", :new_user_registration%></h3>