<h1>Welcome to Skalefree @ SFU!</h1>
<h3>Skalefree is a social discovery website designed to connect SFU students.</h3>
<h3><%= link_to "Find People", findyou_path %>, or share your thoughts on the <%= link_to "News Feed", wall_path %>.</h3>
<h3>Visit our <%= link_to "about", about_path %> page for more information.</h3>