<br>
<h1 class="cfont"> Welcome to SFU! </h1>
<br>
<div>
<div class="homepic">
<%= image_tag("sfu.jpg") %>
</div>
<br>
<br>
<br>
<h4 class="home">The best kind of new friend is someone who shares the same class schedule.</h4>
<br>
<h4 class="home">Post your <%= link_to "Class Schedule", findyou_path %> and find people taking the same courses for Spring 2014.</h4>
<br>
<h4 class="home">Skalefree is free to use.  <%= link_to "Sign up today!", :new_user_registration%></h4>
<br>
<br>