<br>
<h1 class="cfont"> Welcome to your university! </h1>
<br>
<div>

<div class="homepic">
<%= image_tag("sfu.jpg") %>
</div>
<br>
<br>
<br>
<h4 class="home">Skalefree is a social discovery website designed to connect SFU students.</h4>
<br>
<h4 class="home"><%= link_to "Find people", findyou_path %> or <%= link_to "share your thoughts", wall_path %>.</h4>
<br>
<h4 class="home">It's free to use.  <%= link_to "Sign up today!", :new_user_registration%></h4>
<br>

<br>
<br>
<br>
<br>
<br>
<br>