<h1>Welcome to Skalefree @ SFU!</h1>

<h3>Skalefree is a social discovery website designed to connect SFU students.</h3>

<h3>Use Skalefree to find people with similar class schedules for Spring 2014!</h3>

<h3>Study groups, note swaps, and people to chill with during breaks!</h3>

<h3>You can <%= link_to "find people", findyou_path %> or <%= link_to "share your thoughts", wall_path %>.</h3>

<h3>It's free to use.  <%= link_to "Sign up today!", :new_user_registration%></h3>