<% provide(:title, 'Wall Help') %>
<h1 class="cfont">Wall Help</h1>
<div class="spages">
	<br>
	<%= image_tag("wallhelp.jpg") %>
	<br>
	<br>
	<p><b>If you're looking to find someone specific, use <%= link_to "Findposts", help_path %>!</b></p>
</div>