<% provide(:title, 'Wallpost Help') %>
<h1>Wallpost Help</h1>
<%= image_tag("wallhelp.jpg") %>

<br><br>

<p><b>If you're looking to find someone specific, use <%= link_to "Findposts", findpost_help_path %>!</b></p>