<% @comment.forumpost.comments.each do |com| %>
  <li style="height:auto; padding:10px;">
    <%= link_to com.user.name, com.user %> | 
    <%= auto_link(simple_format(com.content)) %>
  </li>
<% end %>