<% provide(:title, 'Create Findposts') %>
<div data-role="content">
  <%= render 'shared/findpost_form' %>
	<% if @user.findposts.any? %>
    <h3>Create Findposts (<%= @user.findposts.count %>)</h3>
    <ul data-role="listview">
      <%= render @findposts %>
      <%= paginate @findposts %>
    </ul>
  <% end %>
</div>
