<% provide(:title, 'Create') %>
<div data-role="content">
  <div data-role="collapsible">
    <h3>Categories</h3>
    Study<br>
    Friend<br>
    Break<br>
    Games<br>
    Project<br>
    Event<br>
    Textbook<br>
    Sport<br>
    Party<br>
    Music<br>
    Club<br>
    Tutor<br>
  </div>
	<div data-role="collapsible">
		<h3>Create</h3>
    <%= render 'shared/findpost_form' %>
	</div>
	<% if @user.findposts.any? %>
    <h3>Findposts (<%= @user.findposts.count %>)</h3>
    <ul data-role="listview", class="find_mobile">
      <%= render @findposts %>
      <%= paginate @findposts %>
    </ul>
  <% end %>
</div>
