<% provide(:title, @user.name) %>
<div class="row">
  <div class="span8">
    <h3><%= @user.name %></h3>
    <%= link_to "Edit Profile", edit_profile_path(@user) %>
    <div class="span6 offset3">
	    <ul class="profile">
	      	<%= render 'shared/profile' %>
	    </ul>
	  </div>
  </div>
</div>