<%= search_form_for @q, :url => search_forumposts_path,
                        :html => {:method => :post},
                        :remote => true do |f| %>
  <div class="field">
    <%= f.label :forum_cont, "Create or Find a Wall" %>
    <%= f.text_field :forum_cont, :id => "wall", :placeholder => "Choose a Category"%>
  </div>
  <%= f.submit "Select / Refresh", :onclick => "store_search()", :id => "second" %>
<% end %>