<%= search_form_for @q, :url => search_forumposts_path,
                        :html => {:method => :post},
                        :remote => true do |f| %>
  <div class="field">
    <%= f.label :forum_cont, "Select a Wall" %>
    <%= f.text_field :forum_cont, :id => "wall"%>
  </div>
  <%= f.submit "Select", :onclick => "store_search()", :id => "second" %>
<% end %>