<%= search_form_for @q, :url => search_forumposts_path,
                        :html => {:method => :post},
                        :remote => true,
                        builder: Combobox1FormBuilder do |f| %>
  <div class="field">
    <%= f.label :forum_cont, "Select a Wall" %>
    <%= f.combobox_tag(:forum_cont, options_for_select(["Random Thought", "Confession", "Secret Crush", "BUS Production 145", "Funny", "TIL", "Amazing", "Games", "News", "Academic", "Social", "SFU", "Sport", "Intellectual", "Entertainment", "WTF", "Music", "Club", "Skalefree"]), :list_id => "list")   %>
  </div>
  <%= f.submit "Select", :onclick => "store_search()", :id => "second", class: "btn btn-success" %>
<% end %>