@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

ul {
  list-style-type: none;
  margin-left: 0;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* profile */

#traits {
  padding-top:50px;
  width: 900px;
  word-wrap: break-word;
  border-top: 1px solid #000000;
}

#about {
  padding-top:30px;
  height:300px;
  width: 900px;
  word-wrap: break-word;
  border-bottom: 1px solid #000000;

}

/* findposts */

.f_title {
  float: right;
}
.f_info {
  position: absolute;
  bottom: 5px;
}

.findposts {
  list-style: none;
  margin: 10px 0 0 0;
  float: right;
  width: 530px;

  li {
    padding: 10px 0;
    height: 140px;
    border-bottom: 1px solid #000000;
    position: relative;

  }
}

.c1 {
  display: block;
}

.id {
  display: block;
  font-weight: bold;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* convos */

#convos {
  width: 100%;
}

#convos .column {
  position: relative;
  height: 600px;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 31%;
  padding: 1%;
  overflow-y:auto;
}

#convos .inbox {
  float: left;
  border-width: 2px;
}

#convos .sentbox {
  float: left;
  border-width: 2px;
}

#convos .trashbox {
  float: right;
  border-width: 2px;
}

.c_info {
  padding-bottom: 5px;
  padding-top: 10px;
  border-bottom: 1px solid #000000;
}

.m_info {
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #000000;
}

.reply {
  padding-top: 20px;
}

.unread {
  font-weight: bold;
}

.notify {
  font-weight: bold;
  color: yellow;
  font-size: 150%;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}