<ul>
		<li><%= link_to "Classes", findyou_path %></li>
		<li><%= link_to "News Feed", wall_path %></li>
		<% if signed_in? %>
			<li><%= link_to @unread_count + " Mail", conversations_path %></li>
			<li><%= link_to "Profile", current_user %></li>
		<% end %>
</ul>